###Tarea: Practica PySpark

Nombre: Gonzalo Raúl Gutierrez Lozano

In [0]:
# Importar las bibliotecas necesarias
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import broadcast
from pyspark.sql.types import *

In [0]:
# Crear una instancia de SparkSession
spark = SparkSession.builder.getOrCreate()

In [0]:
# 1. Crear un DataFrame con datos de personas, que incluya nombre, edad y ciudad de residencia.

data = [
    ("Ana", 23, "New York"),
    ("Carlos", 35, "Los Angeles"),
    ("María", 29, "Chicago"),
    ("José", 41, "New York"),
    ("Lucía", 27, "Houston"),
    ("Pedro", 33, "Phoenix"),
    ("Sofía", 21, "San Diego"),
    ("Luis", 38, "New York"),
    ("Valeria", 26, "Los Angeles"),
    ("Miguel", 45, "Dallas"),
    ("Daniela", 31, "Houston"),
    ("Jorge", 28, "Chicago"),
    ("Camila", 24, "New York"),
    ("Andrés", 36, "San Antonio"),
    ("Paola", 34, "Phoenix"),
    ("Fernando", 42, "San Jose"),
    ("Rosa", 39, "New York"),
    ("Diego", 22, "Austin"),
    ("Natalia", 25, "Houston"),
    ("Raúl", 47, "Los Angeles"),
    ("Andrea", 30, "San Diego"),
    ("Héctor", 51, "New York"),
    ("Karen", 28, "Seattle"),
    ("Oscar", 44, "Miami"),
    ("Patricia", 37, "Chicago"),
    ("Alonso", 19, "New York"),
    ("Verónica", 33, "Denver"),
    ("Ricardo", 40, "Phoenix"),
    ("Elena", 26, "Houston"),
    ("Manuel", 48, "Los Angeles")
]

df = spark.createDataFrame(data,["Nombre","Edad","Ciudad"])

df.show(10)

+-------+----+-----------+
| Nombre|Edad|     Ciudad|
+-------+----+-----------+
|    Ana|  23|   New York|
| Carlos|  35|Los Angeles|
|  María|  29|    Chicago|
|   José|  41|   New York|
|  Lucía|  27|    Houston|
|  Pedro|  33|    Phoenix|
|  Sofía|  21|  San Diego|
|   Luis|  38|   New York|
|Valeria|  26|Los Angeles|
| Miguel|  45|     Dallas|
+-------+----+-----------+
only showing top 10 rows

In [0]:
# 2. Mostrar solo los nombres de las personas del DataFrame.
df.select("Nombre").show(10)

+-------+
| Nombre|
+-------+
|    Ana|
| Carlos|
|  María|
|   José|
|  Lucía|
|  Pedro|
|  Sofía|
|   Luis|
|Valeria|
| Miguel|
+-------+
only showing top 10 rows

In [0]:
# 3. Filtrar personas cuya edad sea mayor o igual a 25.
df.filter(df["Edad"] >= 25).show(10)

+-------+----+-----------+
| Nombre|Edad|     Ciudad|
+-------+----+-----------+
| Carlos|  35|Los Angeles|
|  María|  29|    Chicago|
|   José|  41|   New York|
|  Lucía|  27|    Houston|
|  Pedro|  33|    Phoenix|
|   Luis|  38|   New York|
|Valeria|  26|Los Angeles|
| Miguel|  45|     Dallas|
|Daniela|  31|    Houston|
|  Jorge|  28|    Chicago|
+-------+----+-----------+
only showing top 10 rows

In [0]:
# 4. Agregar una nueva columna "Pais" con un valor constante para todas las filas.
df.withColumn("País", lit("Estados Unidos")).show(10)

+-------+----+-----------+--------------+
| Nombre|Edad|     Ciudad|          País|
+-------+----+-----------+--------------+
|    Ana|  23|   New York|Estados Unidos|
| Carlos|  35|Los Angeles|Estados Unidos|
|  María|  29|    Chicago|Estados Unidos|
|   José|  41|   New York|Estados Unidos|
|  Lucía|  27|    Houston|Estados Unidos|
|  Pedro|  33|    Phoenix|Estados Unidos|
|  Sofía|  21|  San Diego|Estados Unidos|
|   Luis|  38|   New York|Estados Unidos|
|Valeria|  26|Los Angeles|Estados Unidos|
| Miguel|  45|     Dallas|Estados Unidos|
+-------+----+-----------+--------------+
only showing top 10 rows

In [0]:
# 5. Calcular el promedio de edad de todas las personas.
df1 = df.groupBy().agg(avg("Edad").alias("Promedio de edades")).show()

+------------------+
|Promedio de edades|
+------------------+
|              33.4|
+------------------+

In [0]:
# 6. Ordenar el DataFrame por edad en orden descendente.
df.orderBy("Edad",ascending = False).show(10)

+--------+----+-----------+
|  Nombre|Edad|     Ciudad|
+--------+----+-----------+
|  Héctor|  51|   New York|
|  Manuel|  48|Los Angeles|
|    Raúl|  47|Los Angeles|
|  Miguel|  45|     Dallas|
|   Oscar|  44|      Miami|
|Fernando|  42|   San Jose|
|    José|  41|   New York|
| Ricardo|  40|    Phoenix|
|    Rosa|  39|   New York|
|    Luis|  38|   New York|
+--------+----+-----------+
only showing top 10 rows

In [0]:
# 7. Agrupar por ciudad y calcular la cantidad de personas en cada ciudad.
df.groupBy("ciudad").agg(count("Nombre").alias("Cantidad de personas x ciudad")).show()

+-----------+-----------------------------+
|     ciudad|Cantidad de personas x ciudad|
+-----------+-----------------------------+
|   New York|                            7|
|Los Angeles|                            4|
|    Chicago|                            3|
|    Houston|                            4|
|    Phoenix|                            3|
|  San Diego|                            2|
|     Dallas|                            1|
|San Antonio|                            1|
|   San Jose|                            1|
|     Austin|                            1|
|    Seattle|                            1|
|      Miami|                            1|
|     Denver|                            1|
+-----------+-----------------------------+

In [0]:
# 8. Renombrar la columna "Nombre" a "NombreCompleto".
df.withColumnRenamed("Nombre","NombreCompleto").show(10)

+--------------+----+-----------+
|NombreCompleto|Edad|     Ciudad|
+--------------+----+-----------+
|           Ana|  23|   New York|
|        Carlos|  35|Los Angeles|
|         María|  29|    Chicago|
|          José|  41|   New York|
|         Lucía|  27|    Houston|
|         Pedro|  33|    Phoenix|
|         Sofía|  21|  San Diego|
|          Luis|  38|   New York|
|       Valeria|  26|Los Angeles|
|        Miguel|  45|     Dallas|
+--------------+----+-----------+
only showing top 10 rows

In [0]:
# 9. Eliminar la columna "Edad" del DataFrame.
df.drop("Edad").show(10)

+-------+-----------+
| Nombre|     Ciudad|
+-------+-----------+
|    Ana|   New York|
| Carlos|Los Angeles|
|  María|    Chicago|
|   José|   New York|
|  Lucía|    Houston|
|  Pedro|    Phoenix|
|  Sofía|  San Diego|
|   Luis|   New York|
|Valeria|Los Angeles|
| Miguel|     Dallas|
+-------+-----------+
only showing top 10 rows

In [0]:
# 10. Realizar una consulta SQL en el DataFrame para seleccionar personas mayores de 20 años.
df.filter(df["Edad"] > 20).show(10)

+-------+----+-----------+
| Nombre|Edad|     Ciudad|
+-------+----+-----------+
|    Ana|  23|   New York|
| Carlos|  35|Los Angeles|
|  María|  29|    Chicago|
|   José|  41|   New York|
|  Lucía|  27|    Houston|
|  Pedro|  33|    Phoenix|
|  Sofía|  21|  San Diego|
|   Luis|  38|   New York|
|Valeria|  26|Los Angeles|
| Miguel|  45|     Dallas|
+-------+----+-----------+
only showing top 10 rows

In [0]:
# 11. Calcular la suma total de todas las edades.
df.agg(sum("Edad").alias("Suma total de edades")).show(10)

+--------------------+
|Suma total de edades|
+--------------------+
|                1002|
+--------------------+

In [0]:
# 12. Calcular la edad mínima y máxima de todas las personas.
df.select(min("Edad").alias("Edad mínima"),max("Edad").alias("Edad máxima")).show()

+-----------+-----------+
|Edad mínima|Edad máxima|
+-----------+-----------+
|         19|         51|
+-----------+-----------+

In [0]:
# 13. Filtrar personas cuya ciudad de residencia sea "Chicago" y edad sea menor de 30.
df.filter(df["ciudad"] == "Chicago").show()

+--------+----+-------+
|  Nombre|Edad| Ciudad|
+--------+----+-------+
|   María|  29|Chicago|
|   Jorge|  28|Chicago|
|Patricia|  37|Chicago|
+--------+----+-------+

In [0]:
# 14. Agregar una nueva columna "EdadDuplicada" que contenga el doble de la edad.
df.withColumn("Edad duplicada", df["Edad"]*2).show(10)

+-------+----+-----------+--------------+
| Nombre|Edad|     Ciudad|Edad duplicada|
+-------+----+-----------+--------------+
|    Ana|  23|   New York|            46|
| Carlos|  35|Los Angeles|            70|
|  María|  29|    Chicago|            58|
|   José|  41|   New York|            82|
|  Lucía|  27|    Houston|            54|
|  Pedro|  33|    Phoenix|            66|
|  Sofía|  21|  San Diego|            42|
|   Luis|  38|   New York|            76|
|Valeria|  26|Los Angeles|            52|
| Miguel|  45|     Dallas|            90|
+-------+----+-----------+--------------+
only showing top 10 rows

In [0]:
# 15. Convertir todas las edades en años a meses.
df.withColumn("Edad en meses",df["Edad"]*12).show(10)

+-------+----+-----------+-------------+
| Nombre|Edad|     Ciudad|Edad en meses|
+-------+----+-----------+-------------+
|    Ana|  23|   New York|          276|
| Carlos|  35|Los Angeles|          420|
|  María|  29|    Chicago|          348|
|   José|  41|   New York|          492|
|  Lucía|  27|    Houston|          324|
|  Pedro|  33|    Phoenix|          396|
|  Sofía|  21|  San Diego|          252|
|   Luis|  38|   New York|          456|
|Valeria|  26|Los Angeles|          312|
| Miguel|  45|     Dallas|          540|
+-------+----+-----------+-------------+
only showing top 10 rows

In [0]:
# 16. Contar el número total de personas en el DataFrame.
df.groupBy().count().show()

+-----+
|count|
+-----+
|   30|
+-----+

In [0]:
# 17. Filtrar personas cuya edad sea un número par.
df.where(df["Edad"] % 2 == 0).show(10)

+--------+----+-----------+
|  Nombre|Edad|     Ciudad|
+--------+----+-----------+
|    Luis|  38|   New York|
| Valeria|  26|Los Angeles|
|   Jorge|  28|    Chicago|
|  Camila|  24|   New York|
|  Andrés|  36|San Antonio|
|   Paola|  34|    Phoenix|
|Fernando|  42|   San Jose|
|   Diego|  22|     Austin|
|  Andrea|  30|  San Diego|
|   Karen|  28|    Seattle|
+--------+----+-----------+
only showing top 10 rows

In [0]:
# 18. Calcular la cantidad de personas por rango de edades (0-20, 21-40, 41-60, 61+).
df.withColumn("Rango de edades",
              when(df["Edad"]<=20,"0-20")
              .when(df["Edad"]<=40,"21-40")
              .when(df["Edad"]<=60,"41-60")
              .when(df["Edad"]>=61,"61+")
              ).groupBy("Rango de edades" ).count().show()

+---------------+-----+
|Rango de edades|count|
+---------------+-----+
|          21-40|   22|
|          41-60|    7|
|           0-20|    1|
+---------------+-----+

In [0]:
# 19. Contar cuántas personas tienen el mismo nombre.
df.groupBy(df["Nombre"]).count().show(10)

+-------+-----+
| Nombre|count|
+-------+-----+
|    Ana|    1|
| Carlos|    1|
|  María|    1|
|   José|    1|
|  Lucía|    1|
|  Pedro|    1|
|  Sofía|    1|
|   Luis|    1|
|Valeria|    1|
| Miguel|    1|
+-------+-----+
only showing top 10 rows

In [0]:
# 20. Concatenar las columnas "Nombre" y "Ciudad" en una nueva columna llamada "InformacionPersonal".
df.withColumn("InformacionPersonal",concat(df["Nombre"],df["Ciudad"])).show(10)

+-------+----+-----------+-------------------+
| Nombre|Edad|     Ciudad|InformacionPersonal|
+-------+----+-----------+-------------------+
|    Ana|  23|   New York|        AnaNew York|
| Carlos|  35|Los Angeles|  CarlosLos Angeles|
|  María|  29|    Chicago|       MaríaChicago|
|   José|  41|   New York|       JoséNew York|
|  Lucía|  27|    Houston|       LucíaHouston|
|  Pedro|  33|    Phoenix|       PedroPhoenix|
|  Sofía|  21|  San Diego|     SofíaSan Diego|
|   Luis|  38|   New York|       LuisNew York|
|Valeria|  26|Los Angeles| ValeriaLos Angeles|
| Miguel|  45|     Dallas|       MiguelDallas|
+-------+----+-----------+-------------------+
only showing top 10 rows